!!!
%head
	%meta{:charset => "utf-8"}
	%meta{:author => "Stanley Calixte"}
	%title Lead Generator
	=stylesheet_link_tag    "application" 
	=javascript_include_tag "application" 
	=csrf_meta_tags
	%link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Orbitron:regular,italic,bold,bolditalic"}
	%link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"}
	%link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"}
%body
	%header
		%nav.navbar.navbar-default{:role => "navigation"}
			.container-fluid
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					%ul.nav.navbar-nav
						%li.active
							%h4
								=link_to "Core Blogs", {:action => "index",  :controller => "blogs", :method => :get}
						%li.divider
						- if current_user
							%li.active
							%li.divider
					%ul.nav.navbar-nav.navbar-right
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
								Dropdown
								%span.caret
							%ul.dropdown-menu{:role => "menu"}
								- if current_user
									%li
										%span
											%strong
												Logged in as #{current_user.email}
									%li
										%span
											= link_to "Log out", logout_path
								- else
									%li
										%span
											= link_to "Sign up", signup_path
									%li
										%span
											= link_to "log in", login_path
				- flash.each do |name, msg|
					.alert.alert-warning.alert-dismissible{:role => "alert", :id => "flash_#{name}"}
						%button.close{"data-dismiss" => "alert", :type => "button"}
							%span{"aria-hidden" => "true"} &times;
							%span.sr-only Close
						%strong Warning!
						= msg
					
	
	
	
	=yield
				
				